<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Books</title>
</head>
<body>
    <a href="/books" style="display: inline-block; padding: 10px 20px; background-color: #040208; color: #f2eef6; text-decoration: none; border-radius: 4px; transition: background-color 0.3s; position: fixed; top: 0; left: 0;">Back</a>
    <form action="searchbook" method="POST">
        {%csrf_token%}
          <input type="text" id="search" onkeyup="searchInTable()" style="margin-left: 100px;padding: 5px; width: 200px; border-radius: 5px; border: 1px solid #ccc; font-size: 14px;" placeholder="Search by code...">
      </form>
    <h1>Available Books</h1>

    
     <table id="booktable">
        <thead>
            <tr>
                <th>Code</th>
                <th>Title</th>
                <th>Author</th>
                <th>Description</th>
                <th>issue another book</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.code }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.description }}</td>
                <td><a href="/books/issueforstudent/{{book.b_id}}/{{id}}" class="btn btn-primary issue-button" role="button" >ISSUE BOOK</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

 
</body>


<script>
    function searchInTable() {

var input, filter, table, tr, td, i, txtValue;
input = document.getElementById("search");
filter = input.value.toUpperCase();
table = document.getElementById("booktable");
tr = table.getElementsByTagName("tr");

// Loop through all table rows, and hide those who don't match the search query
for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
        } else {
            tr[i].style.display = "none";
        }
    }
}
}
</script>
</html>
