<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available Books</title>
</head>
<body>
    <a href="/books" style="display: inline-block; padding: 10px 20px; background-color: #040208; color: #f2eef6; text-decoration: none; border-radius: 4px; transition: background-color 0.3s; position: fixed; top: 0; left: 0;">Back</a>
    <form action="searchbook" method="POST">
        {%csrf_token%}
          <input type="text" name="search" style="padding: 5px; width: 200px; border-radius: 5px; border: 1px solid #ccc; font-size: 14px;" placeholder="Search...">
          <input type="submit" value="Go" style="padding: 5px 10px; background: #555; color: #fff; border: none; cursor: pointer; font-size: 14px;">
      </form>
    <h1>Available Books</h1>

    
     <table>
        <thead>
            <tr>
                <th>Code</th>
                <th>Title</th>
                <th>Author</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.code }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.description }}</td>
                <td><a href="/books/issueforstudent/{{book.b_id}}/{{id}}" class="btn btn-primary issue-button" role="button" >ISSUE BOOK</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

 
</body>
</html>
