<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
</head>
<body>
    <a href="issueanotherbook/{{student.id_number }}" class="btn btn-primary" role="button"
    style="position: fixed; top: 20px; right: 20px; z-index: 9999;">ISSUE ANOTHER BOOK</a>
    <h1>Student Details</h1>
    <h3>Name: {{ student.name }}</h3>
    <p>Enrollment No: {{ student.enrollment_no }}</p>
    <p>Email: {{ student.email }}</p>
    <p>Phone Number: {{ student.phone_number }}</p>
    
</body>
</html>

