<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
</head>
<body>
    <a href="/books" style="display: inline-block; padding: 10px 20px; background-color: #040208; color: #f2eef6; text-decoration: none; border-radius: 4px; transition: background-color 0.3s; position: fixed; top: 0; left: 0;">Back</a>

    
    

    <a href="issueanotherbook/{{student.id_number }}" class="btn btn-primary" role="button"
    style="position: fixed; top: 20px; right: 20px; z-index: 9999;">ISSUE ANOTHER BOOK</a>
    <h1 style="margin-left: 100px;">Student Details</h1>
    <h3>Name: {{ student.name }}</h3>
    <p>Enrollment No: {{ student.enrollment_no }}</p>
    <p>Email: {{ student.email }}</p>
    <p>Phone Number: {{ student.phone_number }}</p>
    
</body>
</html>

