<a href="/students" style="display: inline-block; padding: 10px 20px; background-color: #040208; color: #f2eef6; text-decoration: none; border-radius: 4px; transition: background-color 0.3s; position: fixed; top: 0; left: 0;">Back</a>

    
    
<h1 style="margin-left: 100px;">Books Issued by {{ student.name }}</h1>
<table class="table">

    <thead>
        <tr>
            <th scope="col">Book Title</th>
            <th scope="col">Issue Date</th>
            <th scope="col">Due Date</th>
            <th scope="col">Fine</th>
        </tr>
    </thead>
    <tbody>
        {% for book_lending in book_lendings %}
        <tr>
            <td>{{ book_lending.book.title }}</td>
            <td>{{ book_lending.issue_date }}</td>
            <td>{{ book_lending.due_date }}</td>
            <td>{{ book_lending.fine }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
